# charts/social-game/values.yaml

replicaCount: 3
autoscaling:
  enabled: true
  minReplicas: 3    
  maxReplicas: 6
  targetCPUUtilizationPercentage: 70
image:
  repository: ahmedbenrejeb0/backend
  tag: 80f6825db12fb32c76cf2e34098156489d428b61
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  host: killer-game.local