# charts/social-game/values.yaml

replicaCount: 3
autoscaling:
  enabled: true
  minReplicas: 3    
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
image:
  repository: ahmedbenrejeb0/backend
  tag: 0b153e5c98ff947cf09164f80d4bdc5a0829a30d
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  host: killer-game.local