# charts/social-game/values.yaml

replicaCount: 3
autoscaling:
  enabled: true
  minReplicas: 3    
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50
image:
  repository: ahmedbenrejeb0/backend
  tag: f7c8a103db1e8f7dbf512b7eea1da98009cccdf9
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  host: killer-game.local